/* TopLiked.module.css */

.container {
    max-width: 1500px; /* 전체 컨테이너의 최대 너비를 설정 */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; /* 버튼들이 양 끝에 위치하도록 설정 */
    position: relative; /* 포스터와 버튼이 배경 위에 위치하도록 설정 */
    overflow: hidden; /* 슬라이드 애니메이션이 컨테이너를 벗어나지 않도록 설정 */
    padding: 20px 0; /* 위아래 여백 추가 */
}

.sliderWrapper {
    overflow: hidden;
    width: calc(
            (200px + 20px * 2) * 5
    ); /* 포스터 5개의 너비와 간격에 맞게 고정 */
    display: flex;
    justify-content: flex-start; /* 포스터들이 중앙에 위치하도록 설정 */
}

.movieItems {
    display: flex;
    transition: transform 0.5s ease; /* 슬라이드 애니메이션 */
}

.movieItem {
    box-sizing: border-box;
    flex: 0 0 200px; /* 각 포스터의 너비를 200px로 고정 */
    margin: 20px;
    transition: transform 0.2s ease, border-image 0.2s ease;
    border: 2px solid transparent;
}

.movieItem.loading {
    opacity: 0;
    transform: scale(0.8);
}

.movieItem.loaded {
    opacity: 1;
    transform: scale(1);
}

.movieItem:hover {
    transform: scale(1.1); /* 마우스 오버 시 확대 */
    z-index: 10; /* 확대된 포스터가 다른 포스터 위에 오도록 설정 */
}

/* 추가된 부분 시작 */
.movieImg {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border: 2px solid transparent;
    transition: transform 0.2s ease, border-image 0.2s ease;
}

@keyframes gradientBorder {
    0% {
        border-image: linear-gradient(0deg, #e61fe6, #3effff, #f684ff, #85a2ff) 1;
    }
    25% {
        border-image: linear-gradient(90deg, #e61fe6, #3effff, #f684ff, #85a2ff) 1;
    }
    50% {
        border-image: linear-gradient(180deg, #e61fe6, #3effff, #f684ff, #85a2ff) 1;
    }
    75% {
        border-image: linear-gradient(270deg, #e61fe6, #3effff, #f684ff, #85a2ff) 1;
    }
    100% {
        border-image: linear-gradient(360deg, #e61fe6, #3effff, #f684ff, #85a2ff) 1;
    }
}

.movieImg:hover {
    transform: none; /* 이미지 자체는 별도로 확대하지 않도록 설정 */
    animation: gradientBorder 4s infinite linear; /* 그라디언트 애니메이션 */
}

.ratingLikeSection {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.2s ease;
}

.averageRating {
    font-size: 1rem;
    color: #ffd700;
    display: flex;
    align-items: center;
}

.likeButton {
    background-color: transparent;
    border: none;
    color: red;
    padding: 0;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
}

.likeButton:disabled {
    color: grey;
    cursor: not-allowed;
}

.likesCount {
    font-size: 1rem;
    margin-left: 0.5rem;
}

.navButton {
    padding: 10px;
    background-color: transparent;
    color: #6ebbdbff; /* 수정: 버튼 텍스트 색상 변경 */
    border: none;
    cursor: pointer;
    font-size: 2rem;
}

.navButton:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.hidden {
    visibility: hidden;
}
/* 추가된 부분 끝 */
